# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# newVisionModule
newVisionModule/*.pro.user
newVisionModule/share/proto/*
newVisionModule/share/proto/cpp/*
